In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame([
    {"nombre": "Neko", "edad": 17, "especie": "gato"}, 
    {"nombre": "Fantasma", "edad": 5, "especie": "erizo"}, 
    {"nombre": "Miti", "edad": 10, "especie": "gato"},
    {"nombre": "Bahamut", "edad": 1, "especie": "ratón"}, 
    {"nombre": "Maggie", "edad": 7, "especie": "perro"}, 
    {"nombre": "Alonso", "edad": 2, "especie": "perro"}
])
df

     nombre  edad especie
0      Neko    17    gato
1  Fantasma     5   erizo
2      Miti    10    gato
3   Bahamut     1   ratón
4    Maggie     7   perro
5    Alonso     2   perro

In [4]:
1 > 0 and 9 == 0

False

In [3]:
True or True

True

In [6]:
df["edad"] > 10

pandas.core.series.Series

In [2]:
# Logical and

log_and = np.logical_and(df["edad"] > 10, df["especie"] == "gato")
print(type(log_and))
log_and

<class 'pandas.core.series.Series'>

0     True
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [3]:
# Si se hace un subset de filas en un DF a partir de una serie de tipo bool, se seleccionan aquellos
# registros cuyo índice tienen asociados un valor True

# Se seleccionan registros donde ambas condiciones se cumplen
df[log_and] # No va con comillas porque es una variable

  nombre  edad especie
0   Neko    17    gato

In [4]:
# Logical or
log_or = np.logical_or(df["especie"] == "ratón", df["especie"] == "erizo")
log_or

0    False
1     True
2    False
3     True
4    False
5    False
Name: especie, dtype: bool

In [8]:
df["especie"] == "ratón"

0    False
1    False
2    False
3     True
4    False
5    False
Name: especie, dtype: bool

In [5]:
# Se seleccionan todos los erizos y ratones
df[log_or]

     nombre  edad especie
1  Fantasma     5   erizo
3   Bahamut     1   ratón

In [9]:
df[np.logical_or(df["especie"] == "ratón", df["especie"] == "erizo")]

     nombre  edad especie
1  Fantasma     5   erizo
3   Bahamut     1   ratón

In [13]:
df[(df["especie"] == "ratón") | (df["especie"] == "erizo")]

     nombre  edad especie
1  Fantasma     5   erizo
3   Bahamut     1   ratón

In [14]:
# Se almacena frecuencia de especies
frec_esp = df["especie"].value_counts()
frec_esp

gato     2
perro    2
ratón    1
erizo    1
Name: especie, dtype: int64

In [7]:
# ¿Cuántos gatos hay?
frec_esp.get("gato")

2

In [8]:
# ¿Cuántos hurones hay?
print(frec_esp.get("hurón"))

None

In [15]:
frec_esp["gato"]

2

In [17]:
# Si el retorno de get es "None" (no se encuentra esa clave), se puede usar un ternario para mostrar mensaje
frec_hurones = frec_esp.get("hurón")
print("Cantidad de hurones:")
print(frec_hurones if frec_hurones != None else "No hay hurones")

Cantidad de hurones:
No hay hurones

In [20]:
# ¿Cuál o cuáles son los animales más frecuentes?

frec_esp.idxmax() # Ver documentación

'gato'

In [21]:
# Mayor valor
frec_esp.max()

2

In [22]:
frec_esp.values

array([2, 2, 1, 1])

In [12]:
# Valores que son iguales al mayor valor de la serie
frec_esp.values == frec_esp.max()

array([ True,  True, False, False])

In [23]:
# Selección de estos registros
frec_esp[frec_esp.values == frec_esp.max()]

gato     2
perro    2
Name: especie, dtype: int64

In [24]:
# Claves de estos registros
frec_esp[frec_esp.values == frec_esp.max()].index # Se puede convertir a lista de Python

Index(['gato', 'perro'], dtype='object')

In [26]:
# Subset que contiene solo gatos
gatos = df[df["especie"] == "gato"]
gatos

  nombre  edad especie
0   Neko    17    gato
2   Miti    10    gato

In [29]:
# ¿Cuál es la especie de este subset?
gatos["especie"].unique() # Solo hay 1 especie, porque ya se hizo el filtro

array(['gato'], dtype=object)

In [31]:
gatos["especie"].unique()[0]

str

In [32]:
# Para obtener el valor, se accede al primer y único elemento
gatos["especie"].unique()[0].capitalize()

'Gato'

In [20]:
import numpy as np

In [21]:
df["viejo"] = np.where(
    df["edad"] >= 10, # Primer argumento: Condición "booleana" a evaluar
    "Sí", # Segundo argumento: Valor a generar si la condición booleana anterior da True
    "No" # Tercer argumento: Valor a generar si la condición booleana anterior da False
)

In [22]:
df["viejo"]

0    Sí
1    No
2    Sí
3    No
4    No
5    No
Name: viejo, dtype: object