## Modulos y paquetes

In [5]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

plt.style.use('seaborn-whitegrid') # Gráficos estilo seaborn
plt.rcParams["figure.figsize"] = (10, 6) # Tamaño gráficos
plt.rcParams["figure.dpi"] = 200 # resolución gráficos

## Lectura de datos

In [42]:
df = pd.read_csv("qog_std_cs_jan18.csv")
df.head()

,ccode,cname,ccodealp,ccodecow,ccodewb,version,aid_cpnc,aid_cpsc,aid_crnc,aid_crnio,...,wvs_relacc,wvs_relsch,wvs_relsci,wvs_satfin,wvs_satlif,wvs_screl,wvs_subh,wvs_survself,wvs_tradrat,wvs_trust
0,4,Afghanistan,AFG,700.0,4.0,QoGStdCSJan18,NaN,NaN,29.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Albania,ALB,339.0,8.0,QoGStdCSJan18,NaN,NaN,26.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,Algeria,DZA,615.0,12.0,QoGStdCSJan18,NaN,NaN,21.0,6.0,...,3.710616,1.704692,3.681347,5.988125,6.301029,5.339371,3.805579,-0.409807,-0.498164,0.179286
3,20,Andorra,AND,232.0,20.0,QoGStdCSJan18,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,Angola,AGO,540.0,24.0,QoGStdCSJan18,NaN,NaN,22.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df.shape

(194, 1882)

In [37]:
df.isnull().sum()[df.isnull().sum().sort_values(ascending=False)/len(df) >0.8]

aid_cpnc         160
aid_cpsc         160
bs_ee            166
bs_h             166
bs_ij            166
                ...
une_dorg6pm      178
une_dorg6pt      175
wdi_peacekeep    176
wdi_povgaprur    156
wdi_povgapurb    156
Length: 521, dtype: int64

 #### Renombre las categorías de la variable ht_region de números a regiones.

In [44]:
df['ht_region'].value_counts()

4     49
1     28
5     27
3     20
2     20
10    13
9     12
7     11
8      8
6      6
Name: ht_region, dtype: int64

In [45]:
df['ht_region'] = df['ht_region'].replace([1, 2, 3, 4, 5, 6, 7, 8, 9,10],['EastEurope', 'LatAm','NorthAfrica','SubSaharian','WesternDem','EastAsia','SouthEastAsia','SouthAsia','Pacific', 'Caribbean' ])
df['ht_region'].value_counts()

SubSaharian      49
EastEurope       28
WesternDem       27
NorthAfrica      20
LatAm            20
Caribbean        13
Pacific          12
SouthEastAsia    11
SouthAsia         8
EastAsia          6
Name: ht_region, dtype: int64

#### Seleccione el 50% de los casos.

In [29]:
subsample_nz = df.sample(frac=.5, random_state=8864)

#### Si su apellido está entre la N y la Z, escoja las siguientes variables del módulo Salud

In [47]:
lista1 = ['wef_imort', 'who_alc2000', 'who_tobt', 'wdi_exph']

#### Cada base generada debe contener los siguientes elementos

- El índice de desarrollo humano (undp_hdi).
- El nombre del país (ccodealp).
- La región a la que pertenece (ht_region).
- El PIB per capita. (gle_cgdpc).
- El total de la población (imf_pop).

In [46]:
lista2 = ['undp_hdi','ccodealp','ht_region','gle_cgdpc','imf_pop']
lista_all= lista1 + lista2
lista_all

In [49]:
subsample_nz = subsample_nz.loc[:, lista_all]
subsample_nz.head()

,wef_imort,who_alc2000,who_tobt,wdi_exph,undp_hdi,ccodealp,ht_region,gle_cgdpc,imf_pop
129,NaN,NaN,NaN,17.135723,NaN,MHL,9,2833.9700,0.054000
132,15.900000,6.74,7.400000,8.025723,0.785,PAN,2,15137.0400,3.788000
20,12.900000,7.32,16.100000,8.322834,0.754,BRA,2,9815.2402,202.768997
102,40.900002,0.87,NaN,3.041355,0.511,MDG,4,822.6200,NaN
173,NaN,0.96,30.200001,5.176771,0.718,TON,9,3962.0601,0.104000