# Tamaño 1

## Tamaño 2

### Tamaño 3

#### Tamaño 4

##### Tamaño 5

###### Tamaño 6

1. Item 1
2. Item 2 ( we can type 1. and the markdown will automatically numerate them) 
* First Item
  * Nested item 1
  * Nested item 2
    1. Keep going
    1. Yes
  
* Second Item
- First Item
- Second Item

| Id | Label    | Price |
|--- |----------| ------|
| 01 | Markdown |\$1600 |
| 02 | is       |  \$12 |
| 03 | AWESOME  | \$999 |

Given : $\pi = 3.14$ , $\alpha = \frac{3\pi}{4}\, rad$
$$
\omega = 2\pi f \\
f = \frac{c}{\lambda}\\
\lambda_0=\theta^2+\delta\\
\Delta\lambda = \frac{1}{\lambda^2}
$$

In [3]:
%%writefile archivo_nueva.py

def funcion():
    a = "mi primer función"
    return a 

funcion(a)

Writing archivo_nueva.py

In [4]:
%pwd

'C:\\Users\\carla\\Desktop\\Desafio FDS'

# Declaraciones

### Existen tres tipos de declaraciones:

1. Declaraciones de asignación
2. Declaraciones de impresión
3. Declaraciones de importación

#### 1. Declaraciones de asignación

In [9]:
var1 = 5
var2 = []
var3 = "palabra"
var4 = "Hola,yo,seré,una,lista".split(",")

#### 2. Declaraciones de impresión

In [12]:
print(var4)
print(var1)
print(5,"hola")
print('{} ejemplo {}'.format(var1, var3))

['Hola', 'yo', 'seré', 'una', 'lista']
5
5 hola
5 ejemplo palabra

#### 3. Declaraciones de importación

In [ ]:
!pip install pandas

In [17]:
import pandas as pd
import numpy as np 
from pandas import read_csv

In [18]:
read_csv("data/data.csv").head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [20]:
pd.read_csv("data/data.csv").head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

# Datos

### En Python existen 4 grandes tipos de datos:
    
1. Strings
2. Integer
3. Float
4. Booleano

#### 1. Strings

In [15]:
print(type('Soy un strings'))

<class 'str'>

In [62]:
a = 'Soy un strings'
print(type(a))

<class 'str'>

#### 2. Integer

In [21]:
print(type(-2))
print(type(2343))
print(type(0))

entero = 25
print(type(25))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [24]:
def mi_tipo(dato):
    print("El tipo de dato de {} es: {}".format(dato,type(dato)))

In [25]:
mi_tipo(-2)
mi_tipo(2343)
mi_tipo(0)
mi_tipo(entero)

El tipo de dato de -2 es: <class 'int'>
El tipo de dato de 2343 es: <class 'int'>
El tipo de dato de 0 es: <class 'int'>
El tipo de dato de 25 es: <class 'int'>

#### 3. Float

In [96]:
var1 = 0.5
var2 = -2.3
var3 = 0.0
var4 = 1.0

mi_tipo(var1)
mi_tipo(var2)
mi_tipo(var3)
mi_tipo(var4)

El tipo de dato de 0.5 es: <class 'float'>
El tipo de dato de -2.3 es: <class 'float'>
El tipo de dato de 0.0 es: <class 'float'>
El tipo de dato de 1.0 es: <class 'float'>

In [97]:
lista = [var1, var2, var3, var4]

for i in lista:
    mi_tipo(i)

El tipo de dato de 0.5 es: <class 'float'>
El tipo de dato de -2.3 es: <class 'float'>
El tipo de dato de 0.0 es: <class 'float'>
El tipo de dato de 1.0 es: <class 'float'>

#### 1. Booleano

In [98]:
var1 = False
var2 = True
var3 = 5==2
var4 = 5==5

lista = [var1, var2, var3, var4]

for i in lista:
    mi_tipo(i)

El tipo de dato de False es: <class 'bool'>
El tipo de dato de True es: <class 'bool'>
El tipo de dato de False es: <class 'bool'>
El tipo de dato de True es: <class 'bool'>

# Medidad de tendencia central

### Media

$$
\bar{x} = \frac{\sum^{N}_{i=1} x_i}{N}
$$

In [26]:
def media(lista):
    return sum(lista)/len(lista)

calificaciones = [60, 70, 70, 70, 50, 40 ,55, 35]

print(media(calificaciones))
print(round(media(calificaciones)))

56.25
56

In [27]:
print(np.mean(calificaciones))
print(round(np.mean(calificaciones)))

56.25
56.0

### Moda

In [118]:
import scipy.stats as stats

print(stats.mode(calificaciones))
#print(stats.mode(calificaciones)[0][0])

ModeResult(mode=array([70]), count=array([3]))

### Mediana

In [119]:
np.median(calificaciones)

57.5

## Medidas de dispersión

### Varianza

In [121]:
print(np.var(calificaciones))

167.1875

### Desviación estandar

In [125]:
print(np.std(calificaciones))
print(np.sqrt(np.var(calificaciones)))

12.93010054098575
12.93010054098575