# Clase 3

### Modulos y paquetes

In [2]:
import pandas as pd
import numpy as np

### Lectura de datos

In [3]:
df = pd.read_csv("data/data.csv")
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [10]:
df.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

### Recodificando en nuevas variables

In [13]:
def reco_age(edad):
    if edad <= 18:
        return 'Niño'
    elif edad > 18 and edad <= 55:
        return 'Adulto'
    elif edad > 55:
        return 'Adulto mayor'
        
df['edad_reco'] = [reco_age(i) for i in df['Age']]

df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,edad_reco
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No,Adulto mayor
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No,Adulto mayor
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No,Adulto mayor
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Niño
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No,Adulto mayor

### Contar cantidad de elementos por categoría

In [14]:
df['edad_reco'].value_counts()

Adulto          54156
Niño            28867
Adulto mayor    27504
Name: edad_reco, dtype: int64

### Probabilidad por categoría

#### Forma 1

In [38]:
df['edad_reco'].value_counts()/len(df['edad_reco'])

Adulto          0.489980
Niño            0.261176
Adulto mayor    0.248844
Name: edad_reco, dtype: float64

#### Forma 2

In [25]:
df["edad_reco"].value_counts(normalize = True)

Adulto          0.489980
Niño            0.261176
Adulto mayor    0.248844
Name: edad_reco, dtype: float64

#### Forma 3

In [31]:
df.groupby("edad_reco")['PatientId'].count()/len(df)

edad_reco
Adulto          0.489980
Adulto mayor    0.248844
Niño            0.261176
Name: PatientId, dtype: float64

### Crear un subset de df

In [20]:
df["edad_reco"].unique()

array(['Adulto mayor', 'Niño', 'Adulto'], dtype=object)

In [23]:
dic = {}
for i in df["edad_reco"].unique():
    dic[i] = df[df['edad_reco'] == i]

### Contar elementos por dos variables

In [35]:
df.groupby("edad_reco")['Gender'].value_counts()

edad_reco     Gender
Adulto        F         38326
              M         15830
Adulto mayor  F         18559
              M          8945
Niño          F         14955
              M         13912
Name: Gender, dtype: int64

In [36]:
df.groupby("edad_reco")['Diabetes'].value_counts()

edad_reco     Diabetes
Adulto        0           51807
              1            2349
Adulto mayor  0           21961
              1            5543
Niño          0           28816
              1              51
Name: Diabetes, dtype: int64