### Modulos y paquetes

In [69]:
import pandas as pd 
import numpy as np

### Lectura o creación de data

In [2]:
dic = {'genero':['Hombre','Hombre','Hombre','Mujer','Mujer','Hombre','Mujer','Hombre','Mujer','Mujer'],
      'fumador':['si','si','si','no','no','si','si','no','si','no']}

df = pd.DataFrame(dic)
df.head()

   genero fumador
0  Hombre      si
1  Hombre      si
2  Hombre      si
3   Mujer      no
4   Mujer      no

In [17]:
tabla = pd.crosstab(df["genero"],df["fumador"],margins=True,normalize=True)
tabla

fumador   no   si  All
genero
Hombre   0.1  0.4  0.5
Mujer    0.3  0.2  0.5
All      0.4  0.6  1.0

### Eventos

* H: Que la persona sea hombre
* M: Que la persona sea mujer
* N: Que la persona no fume
* S: Que la persona fume

### Calcule la probabilidad que la persona sea fumadora

In [31]:
# Opción 1 

PS = tabla["si"]['All'] 
print('Probabilidad que la persona sea fumadora, P(S) = ',PS)

# Opción 2 
print('Probabilidad que la persona sea fumadora, P(S) = ' ,df['fumador'].value_counts('%')['si'])

Probabilidad que la persona sea fumadora, P(S) =  0.6
Probabilidad que la persona sea fumadora, P(S) =  0.6

### Calcule la probabilidad de que la persona no fume, que sea hombre y que sea Mujer

In [35]:
PN = tabla["no"]['All']
print('Probabilidad que la persona no sea fumadora, P(N) = ', PN)

PH = tabla["All"]['Hombre']
print('Probabilidad que la persona sea Hombre, P(H) = ', PH)

PM = tabla["All"]['Mujer']
print('Probabilidad que la persona sea Mujer, P(M) = ', PM)

Probabilidad que la persona no sea fumadora, P(N) =  0.4
Probabilidad que la persona sea Hombre, P(H) =  0.5
Probabilidad que la persona sea Mujer, P(M) =  0.5

### Calcule la probabilidad de P(N|M)

recordemos que la formula de la probabilidad condicional es:

$$ P(N|M) = \frac{P(N \cap M)}{M} $$

#### Forma 1

In [50]:
PN_M = tabla["no"]['Mujer']
print('Probabilidad que la persona no sea fumadora, P(N inter M) = ', PN_M)

PN_dado_M = PN_M/PM
print('La probabilidad de P(N|M) = ', PN_dado_M)

Probabilidad que la persona no sea fumadora, P(N inter M) =  0.3
La probabilidad de P(N|M) =  0.6

#### Forma 2

In [56]:
tabla_df = df.groupby('genero')['fumador'].value_counts()/len(df)
print(tabla_df)

genero  fumador
Hombre  si         0.4
        no         0.1
Mujer   no         0.3
        si         0.2
Name: fumador, dtype: float64

In [57]:
PN_M = tabla_df['Mujer']['no']
PM = df['genero'].value_counts('%')['Mujer']

PN_dado_M = PN_M/PM
print('La probabilidad de P(N|M) = ', PN_dado_M)

La probabilidad de P(N|M) =  0.6

### Lectura de datos

In [61]:
data = pd.read_csv("data/data.csv")

In [62]:
data.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [65]:
data.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

In [67]:
data.groupby('No-show')[['Scholarship', 'Hipertension','Diabetes']].agg(['max','min', 'mean'])

        Scholarship               Hipertension               Diabetes      \
                max min      mean          max min      mean      max min
No-show
No                1   0  0.093903            1   0  0.204392        1   0
Yes               1   0  0.115507            1   0  0.169004        1   0


             mean
No-show
No       0.073837
Yes      0.064071

In [71]:
data["var_random"]  = np.random.choice(['Si', 'No'],len(data))

In [73]:
data.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,var_random
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No,Si
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No,Si
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No,Si
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Si
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No,Si

In [74]:
np.random.seed(1)

data["var_random2"]  = np.random.choice(['Si', 'No'],len(data))